CompileFlags:
  Remove:
    - -fno-shrink-wrap
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -mlongcalls
    - -ffunction-sections
    - -fdata-sections
  Add:
    - --target=xtensa-esp32-elf
    - -Ibuild/config
  CompilationDatabase: build/
